# Python - Ficheiros temporários e compilados
*/__pycache__
*.py[cod]
*$py.class
.venv/
.pytest_cache/
.mypy_cache/


# Nota: Alguns preferem commitar o poetry.lock, mas se estiveres a testar muito,
# podes ignorá-lo até teres uma versão estável. Em produção, recomenda-se commitar.

# Dados (MUITO IMPORTANTE)
# Ignoramos todos os ficheiros dentro de data, exceto os ficheiros .gitkeep
data/**/*
!data/**/.gitkeep

# Bases de Dados (SQLite)
*.db
*.sqlite3

# IDEs e Ferramentas
.vscode/
.idea/
.DS_Store

# SQLite temporary files
ingestion_state.db-shm
ingestion_state.db-wal
